<!DOCTYPE html>
<html>
	<head>
		<title><%= post.title %>|一滴水博客</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="keywords" content="前端开发，node，后端">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="/styles/layout.css">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_532447_ems19ao9ehh69a4i.css">
		<style>
			.content {padding:20px;box-sizing:border-box;width:100%;overflow-x:auto;word-wrap: break-word;word-break: break-all;}
			@media (max-width:800px){.content {padding:10px;}.content table {width:100% !important;}}
			.w-e-text p,.w-e-text h1,.w-e-text h2,.w-e-text h3,.w-e-text h4,.w-e-text h5,.w-e-text table,.w-e-text pre {  margin: 10px 0;  line-height: 1.5;}.w-e-text ul,.w-e-text ol {  margin: 10px 0 10px 20px;}.w-e-text blockquote {  display: block;  border-left: 8px solid #d0e5f2;  padding: 5px 10px;  margin: 10px 0;  line-height: 1.4;  font-size: 100%;  background-color: #f1f1f1;}.w-e-text code {  display: inline-block;  *display: inline;  *zoom: 1;  border-radius: 3px;  padding: 3px 5px;  margin: 0 3px;}.w-e-text pre code {  display: block;}.w-e-text table {  border-top: 1px solid #ccc;  border-left: 1px solid #ccc;}.w-e-text table td,.w-e-text table th {  border-bottom: 1px solid #ccc;  border-right: 1px solid #ccc;  padding: 3px 5px;}.w-e-text table th {  border-bottom: 2px solid #ccc;  text-align: center;}.w-e-text:focus {  outline: none;}.w-e-text img {  cursor: pointer;}.w-e-text img:hover {  box-shadow: 0 0 5px #333;}.w-e-text img.w-e-selected {  border: 2px solid #1e88e5;}.w-e-text img.w-e-selected:hover {  box-shadow: none;}
		</style>
	</head>
	<body>
		<div class="g">
			<%- include nav.ejs %>
			<div class="g-con">
				<article class="u-art">
					<header class="tc">
						<h2 class="title"><%= post.title %></h2>
						<p>发表于<%= post.created_at %> 阅读(<%= post.views %>)</p>
					</header>
					<div class="content w-e-text">
						<%- post.content %>
					</div>
				</article>	
			</div>
		</div>
		<script>
			(function(){
			    var bp = document.createElement('script');
			    var curProtocol = window.location.protocol.split(':')[0];
			    if (curProtocol === 'https') {
			        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			    }
			    else {
			        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			    }
			    var s = document.getElementsByTagName("script")[0];
			    s.parentNode.insertBefore(bp, s);
			})();
		</script>
		<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
		<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
		<script >hljs.initHighlightingOnLoad();</script> 
	</body>
</html>