<aside class="m-side">
	<div class="wrap">
		<div class="date-wrap">
			<div class="u-inline-date" id="box">
				<div class="clear t-ctr">
	                <div class="yearwrap right">
	                    <span class="item" id="prevyear">&lt;</span>
	                    <span class="" id="year"></span>
	                    <span class="item" id="nextyear">&gt;</span>
	                </div>
	                <div class="monthwrap left">
	                    <span class="item" id="prevmonth">&lt;</span>
	                    <span class="" id="month"></span>
	                    <span class="item" id="nextmonth">&gt;</span>
	                </div>
	            </div>
	            <div>
		            <div class="clear cols-box">
		            	<div class="th">日</div>
		      			<div class="th">一</div>
		      			<div class="th">二</div>
		      			<div class="th">三</div>
		      			<div class="th">四</div>
		      			<div class="th">五</div>
		      			<div class="th">六</div>
		      		</div>
		      		<div id="td-con" class="clear cols-box b-l">
		      		</div>
		      	</div>
	      	</div>
		</div>
		<div class="label-wrap">
			<h3>分类</h3>
			<div class="link-box">
				<% for(index in config_cate){ %>
				<div><a class="link" href="<%= __URL %>/cate/<%= index %>"><%= config_cate[index].name %></a></div>
				<ul class="children">
					<% for(_index in config_cate[index].sub){ %>
					<li><a class="link" href="<%= __URL %>/sub/<%= _index %>"><%= config_cate[index].sub[_index] %></a></li>
					<% } %>
				</ul>
				<% } %>
			</div>
		</div>
		<!-- <div class="l mt30">
			<p class="intro">他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗</p>
		</div> -->
	</div>
</aside>