<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<title>前端开发|一滴水博客</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="keywords" content="前端，后端，Vue，Node，Javascript，生活">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="/styles/layout.css">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_532447_ems19ao9ehh69a4i.css">
	</head>
	<body>
		<div class="g">
			<%- include nav.ejs %>
			<div class="g-con">
				<div class="m-con">
					<div class="wrap">
						<% if(count>0){ %>
							<div class="tc" id="paginationTop">
								<% if(typeof cate!=='undefined'){ %>
									<%- include page_cate.ejs %>
								<% }else if(typeof sub!=='undefined'){ %>
									<%- include page_sub.ejs %>
								<% }else{ %>
									<%- include page.ejs %>
								<% } %>
							</div>
						<% }else{ %>
							<div class="tc mt30">
								暂无内容
							</div>
						<% } %>
						<div id="articles">
						<% posts.forEach(function(post){ %>
							<article class="u-art">
								<header class="tc">
									<h2 class="title"><%= post.title %></h2>
								</header>
								<% if(post.image!==""&&!isMobile){ %>
									<div class="con have-img">
										<a class="wrap-img" href="<%= __URL %>/article/<%= post._id %>.html">
											<img class="img-fit lazy" data-original="<%= post.image %>?imageView2/1/w/300/h/240">
										</a>
										<p class="abs"><%= post.des %></p>
									</div>
								<% }else{ %>
									<div class="con">
										<p class="abs"><%= post.des %></p>
									</div>
								<% } %>
								<div class="btn__wrapper">
									<a class="btn--blue" href="<%= __URL %>/article/<%= post._id %>.html">阅读更多</a>
								</div>
								<div class="meta clear">
									<a class="left"><%= post.user_name %> 发表于 <%= post.created_at %></a>
									<a class="right">
									<% if(config_cate[post.cate]&&config_cate[post.cate].sub){ %>
										<span class="type"><%= config_cate[post.cate].name %>-<%= config_cate[post.cate].sub[post.sub_cate] %>
									<% } %></span><span class="view">&nbsp;<i class="iconfont icon-liulan"></i> <%= post.views %></span>
									</a>
								</div>
							</article>
						<% }) %>
						</div>
						<% if(count>0){ %>
							<div class="tc mt30" id="pagination">
								<% if(typeof cate!=='undefined'){ %>
									<%- include page_cate.ejs %>
								<% }else if(typeof sub!=='undefined'){ %>
									<%- include page_sub.ejs %>
								<% }else{ %>
									<%- include page.ejs %>
								<% } %>
							</div>
						<% } %>
						<!-- <a data-id="2" href="javascript:;" class="btn-wrap" onclick="loadMore(event)">
							加载更多
						</a> -->
					</div>
				</div>
				<%- include aside.ejs %>
			</div>
		</div>
		<script id="interpolationtmpl" type="text/x-dot-template">
			<% if(count>0){ %>
			{{~it.data:post:index}}
				<article class="u-art">
					<header class="tc">
						<h2 class="title">{{= post.title }}</h2>
					</header>
					{{? !!post.image && !<%= isMobile %> }}
						<div class="con have-img">
							<a class="wrap-img" href="<%= __URL %>/article/{{= post._id }}.html">
								<img class="img-fit lazy" data-original="{{= post.image }}?imageView2/1/w/300/h/240">
							</a>
							<p class="abs">{{= post.des }}</p>
						</div>
					{{??}}
						<div class="con">
							<p class="abs">{{= post.des }}</p>
						</div>
					{{?}}
					<div class="btn__wrapper">
						<a class="btn--blue" href="<%= __URL %>/article/{{= post._id }}.html">阅读更多</a>
					</div>
					<div class="meta clear">
						<a class="left">{{= post.user_name }}发表于 {{= post.created_at }}</a>
						<a class="right">
					{{? post.cate_name&&post.sub_cate_name }}
						<span class="type">{{= post.cate_name }}-{{= post.sub_cate_name }}</span>
					{{?}}<span class="view">&nbsp;<i class="iconfont icon-liulan"></i> {{= post.views }}</span>
					</a>
					</div>
				</article>
			{{~}}
			<% } %>
		</script>
		<script id="paginationTpl" type="text/x-dot-template">
			<% if(count>0){ %>
				<% if(typeof cate!=='undefined'){ %>
					<%- include page_cate_dot.ejs %>
				<% }else if(typeof sub!=='undefined'){ %>
					<%- include page_sub_dot.ejs %>
				<% }else{ %>
					<%- include page_dot.ejs %>
				<% } %>
			<% } %>
		</script>
		<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
		<script src="/scripts/date-timer.js"></script>
		<script src="/scripts/doT.js"></script>
		<script>
			var config = {};
			$.ajax({
				url:'/v1/dict/cate',
				type:'GET',
				dataType:"JSON",
				success:function(res){
					config = res;
				}
			});
		</script>
		<script>
			var pagination = {
				limit:<%= typeof limit === "undefined" ? 8:limit %>,
				count:<%= count %>,
				page:<%= page %>,
				current:<%= current %>,
				pagegroup:5,
				lists:[],
				cate:<%= typeof cate === "undefined" ? "null":cate %>,
				sub:<%= typeof sub === "undefined" ? "null":sub %>
			};
			var paginationTpl = doT.template($("#paginationTpl").text());
			function setCurrent(current,event){
				pagination.current = current;
				pagination.lists = pageGroupList(pagination);
				$("#pagination,#paginationTop").html(paginationTpl(pagination));
				if(window.history.pushState&&event){
					window.history.pushState({page:current},"",event.target.href);
				}
			}
			window.onpopstate = function(event) {
				if(window.history.state && typeof window.history.state.page==='number'){
					setCurrent(window.history.state.page);
					loadNewPage(window.history.state.page);
				}
			};
			function pageGroupList(pageInfo){ // 获取分页页码
				if(<%= isMobile %>){
					return [];
				};
	            var len = pageInfo.page , temp = [], list = [], count = Math.floor(pageInfo.pagegroup / 2) ,center = pageInfo.current;
	            if( len <= pageInfo.pagegroup ){
	                while(len--){ temp.push({text:pageInfo.page-len,val:pageInfo.page-len});};
	                return temp;
	            }
	            while(len--){ temp.push(pageInfo.page - len);};
	            var idx = temp.indexOf(center);                
	            (idx < count) && ( center = center + count - idx); 
	            (pageInfo.current > pageInfo.page - count) && ( center = pageInfo.page - count);
	            temp = temp.splice(center - count -1, pageInfo.pagegroup);                
	            do {
	                var t = temp.shift();
	                list.push({
	                    text: t,
	                    val: t
	                });
	            }while(temp.length);                
	            if( pageInfo.page > pageInfo.pagegroup ){
	                (pageInfo.current > count + 1) && list.unshift({ text:'...',val: list[0].val - 1 });
	                (pageInfo.current < pageInfo.page - count) && list.push({ text:'...',val: list[list.length - 1].val + 1 });
	            }
	            return list;
	        }

	        var interText = doT.template($("#interpolationtmpl").text());
	        function loadNewPage(page){
				$.ajax({
					url:'/v1/articles',
					type:'GET',
					dataType:"JSON",
					data:{
						page:page,
						limit:pagination.limit,
						cate:pagination.cate,
						sub:pagination.sub
					},
					success:function(res){
						for(var i=0,len=res.data.length;i<len;i++){
							var item = res.data[i];
							item.cate_name = config[item.cate]&&config[item.cate].name;
							if(item.cate_name){
								item.sub_cate_name = config[item.cate].sub[item.sub_cate];
							}
						};
						$("#articles").html(interText(res));
						$("img.lazy").lazyload({
		                    effect : "fadeIn"
		                });
					}
				}); 
			}

			$(function(){
				var dateTimer = new DateTimer({
					url:'/v1/articles',
					currentDate:<%= typeof date === "undefined" %> ? new Date():new Date("<%= typeof date === 'string'&&date %>"),
					handler:function(dateStr){
						location.href="/date/"+dateStr;
					}
				});
				$("img.lazy").lazyload({
                    effect : "fadeIn"
                });
                $("#ac-gn").on("click",function(e){
                	$(".m-nav").toggleClass("open");
                	$("body").toggleClass("overflow-hidden");
                })
			});
		</script>
		<script>
			(function(){
			    var bp = document.createElement('script');
			    var curProtocol = window.location.protocol.split(':')[0];
			    if (curProtocol === 'https') {
			        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			    }
			    else {
			        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			    }
			    var s = document.getElementsByTagName("script")[0];
			    s.parentNode.insertBefore(bp, s);
			})();
		</script>
	</body>
</html>